[defaults]
hash_behaviour = merge
host_key_checking = false
retry_files_enabled = false

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60 -o ServerAliveInterval=30
pipelining = true
